*.swp
*.swo
*.swn
*.swm
.DS_Store
datadir/
client/client
server-webrtc/server-webrtc
server/server
proxy-go/proxy-go
snowflake.log
proxy/test
proxy/build
proxy/node_modules
proxy/spec/support
ignore/
npm-debug.log
