body {
	margin: 10px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	width: 300px;
}

#active {
	padding: 20px;
	text-align: center;
}

.learn {
	padding-top: 10px;
	border-top: 1px solid grey;
}

.learn a {
	display: block;
	color: grey;
	text-decoration: none;
}
